NEXT_PUBLIC_SUPABASE_URL=https://<project-ref>.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=<anon-key>
SUPABASE_SERVICE_ROLE_KEY=<service-role-key>
ADMIN_EMAILS=email1@example.com,email2@example.com
NEXT_PUBLIC_FORMSPREE_ID=<formspree-form-id>
